.ProductList {

    
}

.all-products{
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 20px;
    
}
.each-card{
    margin: 30px;

}
img{
    height: 250px;
    width: 300px;
}

.btn {
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: Arial;
    color: #292729;
    font-size: 14px;
    background: #F4E06D;
    border-color: #F4E06D;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #FAEA48;
    text-decoration: none;
  }

 
